body {
  background-color: #2C2F33;
  color: #FFFFFF;
}
h1.header {
  color: #FFFFFF;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 300%;
}
p.normal {
  color: #FFFFFF;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 100%;
  text-indent: 20px;
}
h2.header {
  color: #FFFFFF;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 200%;
  text-indent: 20px;
}
h3.header {
  color: #FFFFFF;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 150%;
  text-indent: 20px;
}
ul.list{
  color: #FFFFFF;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 100%;
  text-indent: 20px;
}
li.list{
  color: #FFFFFF;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 100%;
  text-indent: 20px;
}
img.padded{
  padding: 30px;
}
a{
  color: #7289DA;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 100%;
  text-indent: 20px;
}
.main {
  margin-left: 75px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.sidenav {
  height: 100%;
  width: 75px;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  background-color: #23272A;
  overflow-x: hidden;
}
.sidenav a {
  text-align: left;
  text-decoration: none;
  font-size: 25px;
  color: #99AAB5;
  padding: 10px, 20px, 40px, 100px;
  display: inline-block;
}
.sidenav a:hover {
  color: #94FBAB;
}
.sidenav a:active{
  color: #94FBAB;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.main {
  transition: margin-left .5s;
  padding: 16px;
}

#invisible {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;

}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #E94F37;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8A200F;
}

/*Adjusted for small screens*/
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
