body {
    background-color: #2C2F33;
    color: #FFFFFF;
    overflow-x: hidden;
}

.content{
    margin-left:45px;
    padding-right: 10%;
}

h1.header {
    color: #FFFFFF;
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 300%;
}

p.normal {
    color: #FFFFFF;
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 100%;
}

/* updating time for react */

p.time{
    color: #FFFFFF;
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 100%;
    text-align: right;
    padding-right: 20px;
}

h2.header {
    color: #FFFFFF;   
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 250%;
    text-indent: 20px;
    text-decoration: underline;
    text-decoration-line:underline;
    text-decoration-color: #E94F37;
    text-decoration-thickness: 7px;
}

h3.header {
    color: #FFFFFF;
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 150%;
    text-indent: 20px;
}
/* links */
a{
    color: #7289DA;
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 100%;
}
a.text{
  color: #7289DA;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 100%;
  padding: 8px;
  position: relative;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.1s;
}
a.text:hover, a.text:focus {
  text-decoration: none;
  color: #94FBAB;
}
span.openNav{
    font-size:36px;
    cursor:pointer;
    text-align:left;
    display:flex;
    padding-left:20px;
    color: #818181;
}
/* nav overlay*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  position: relative;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    text-decoration: none;
    color: #94FBAB;
    border-bottom: .1em solid #94FBAB;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* overlay size changes depending on device */

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* cards */
.cards{
  display: inline-grid;
  grid-gap: 50px;
  grid-template-columns: auto auto auto;
}
.cardcontainer{
  width: 200px;
}
a.text:hover + .detail{
  display: inline;
}
#card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  background-color: #2C2F33;
}
#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  width: 200px;
  display: block;
}
.container {
  padding: 2px 16px;
  width: 200px;
  background-color: #6D706F;
}
 
/* without this most of the things break so don't remove */
.sidenav{
  position: fixed;
  height: 102%;
  background-color: #23272A;
  width: 60px;
}
/* nav opener */
span{
  padding-top:20%;
}
span:hover, span:focus {
  text-decoration: none;
  color: #94FBAB;
}
.content{
  padding-left: 60px;
}
.small{
  font-size: 40%;
}
/* CSS of scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;

}
::-webkit-scrollbar-thumb {
  background: #E94F37;
}

::-webkit-scrollbar-thumb:hover {
  background: #aa3826;
  position: relative;	
  box-shadow: 1px 1px 13px 7px #6D706F;
}

button {
  background-color: #23272a;
  color: hsl(260, 85%, 97%);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 1.2rem;
  border: 1px solid #23272a;
  border-radius: 0.35rem;
  cursor: pointer;
}

button:hover {
  animation-name: shine;
  animation-duration: 300ms;
}

@keyframes shine {
  0% {
    background: linear-gradient(30deg, #2c2f33 0%, #23272a 25%);
  }

  25% {
    background: linear-gradient(30deg, #23272a 0%, #2c2f33 25%, #23272a 50%);
  }

  50% {
    background: linear-gradient(30deg, #23272a 0%, #2c2f33 50%, #23272a 75%);
  }

  75% {
    background: linear-gradient(30deg, #23272a 0%, #2c2f33 75%, #23272a 100%);
  }

  100% {
    background: linear-gradient(30deg, #23272a 0%, #2c2f33 100%);
  }
}

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
