body {
  background-color: #2C2F33;
  color: #FFFFFF;
}
h1.header {
  color: #FFFFFF;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 250%;
}
p.normal {
  color: #FFFFFF;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 100%;
  text-indent: 20px;
}
h2.header {
  color: #FFFFFF;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 200%;
  text-indent: 20px;
}
h3.header {
  color: #FFFFFF;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 150%;
  text-indent: 20px;
}
ul.list{
  color: #FFFFFF;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 100%;
  text-indent: 20px;
}
li.list{
  color: #FFFFFF;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 100%;
  text-indent: 20px;
}
img.padded{
  padding: 30px;
}
div.movielist{

}
a{
  color: #7289DA;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 100%;
  text-indent: 20px;
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.sidenav {
  height: 100%;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #23272A;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 1px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 130px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
